.player-seat {
}

.my-seat {
  
}

.player-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-card {
  margin: 0 2px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px 10px;
}
