html {
  /* background-color: #fa9800; */
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  margin: 0 auto 20px;
}

.header-links a {
  text-decoration: none;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  color: #ffa02c;
  border-radius: 3px;
  text-align: center;
  padding: 10px 20px;
}

@media all and (min-width: 600px) {
  .Header {
    flex-direction: row;
  }

  .header-links {
    margin: auto 0;
  }
}
