html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

header {
  justify-content: space-between;
}

p {
  color: #fff;
}

.game-list {
  margin: 5px;
  padding: 5px;
}

.user-create {
  flex-direction: column;
  padding: 20px;
  justify-items: center;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login-container {
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.user-create-input {
  display: flex;
  color: #fff;
  align-items: flex-start;
  justify-content: space-between;
}

.account-create-error {
  color: lightskyblue;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: lightyellow;
}

.body {
  display: flex;
  justify-content: center;
  background-color: #ffa02c;
  background-image: linear-gradient(180deg, #ffa02c 82%, #fff);
}

.container {
  position: relative;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  float: none;
}

.heading {
  margin-top: 0px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #ffa02c;
}

.section {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.heading-2 {
  color: hsla(0, 0%, 100%, 0.75);
  font-style: normal;
  text-align: left;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
  border-width: 3px;
  border-color: #ffa02c;
  border-radius: 7px;
  background-color: #fff;
  color: #ffa02c;
  padding: 10px;
}
