.game-table {
  background-color: rgb(26, 88, 26);
  border: 1px solid rgb(26, 88, 26);
  color: white;
  min-height: 100%;
  position: relative;
  height: 100vh;
  min-width: 100%;
  align-items: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .';
}

.chat-toggle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chat-toggle:focus {
  outline: none;
}

.player-turn-announce {
  font-size: 2em;
  padding: 0 5px;
}

.feedback {
  visibility: hidden;
  height: 0;
}

.being-asked-box > div > button {
  margin: 10px 5px 0;
}

.winner-display{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
