.game-table {
  background-color: rgb(26, 88, 26);
  border: 1px solid rgb(26, 88, 26);
  color: white;
  margin: 10px auto;
  min-height: 100%;
  position: relative;
}

@media all and (min-width: 600px) {
  .game-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      '. . . .'
      '. . . .'
      '. . . .'
      '. . . .';
  }
}
